* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.header, .footer {
    background: #fcba03;
    clear: both;
}

.menu {
    background:#cf03fc;
    float: left;
    width: 30%;
}

.imgFloat {
    float: left;
    margin-top: 5px;
    margin-right: 25px;
    width: 150px;
}

.mainBlock {
    background:#e6f026;
    float: left;
    width: 68%;
    padding-left: 2%;
}

.p-On-indexhtml {
    
}

.menu-list li a:hover {
    color:#f2f5c4;
    transition-duration: 0.3s;
}

.menu-list li a {
    text-decoration: none;
}

.title {
    font-size: 18px;
    font-weight: bold;
}


